<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Taxonomy Web Interface</display-name>
  
  <welcome-file-list>
     <welcome-file>index.html</welcome-file>
   </welcome-file-list>
   
   <listener>
    <listener-class>taxonomy.resources.server.TxServletContextListener</listener-class>
   </listener>
   
   <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>taxonomy.resources.server.TxDAOServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/tx/service</url-pattern>
   </servlet-mapping>
</web-app>
